* {
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic';
}
.construction {
    position: absolute;
    background: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.construction-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 7.5vh;
    font-weight: bolder;
    color: powderblue;
}

@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');